<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
    />
    <title>Document</title>
    <style>
      .nameBox {
        border: 10px solid transparent;
        border-radius: 1rem;
        border-image: url("circle_spin.svg") round;
        border-image-slice: 30%;
      }
    </style>
  </head>
  <body>
    <div class="d-flex vh-100 align-items-center">
      <div class="mx-auto row">
        <div class="justify-content-center text-center">
          <div class="nameBox p-2 m-4">{{ name }}</div>
        </div>
        <div class="justify-content-center text-center">
          <button>a</button>
          <button>a</button>
        </div>
      </div>
    </div>
  </body>
</html>
